body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 20px;
}

.App-header {
  background: url("../img/header/bg.jpg") no-repeat;
  background-size: 100%;
  height: 160px;
}

.App-title {
  background-color: #24a6e8;
  color: #fff;
  padding: 8px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span.badge {
  background-color: rgb(32, 212, 86);
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.dayListContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
}

.dayListContainer .day {
  margin: 0 5px;
  cursor: pointer;
  padding: 15px 10px;
  border: dotted 1px #ccc;
  border-radius: 10%;
  position: relative;
}

.dayListContainer .day h3 {
  margin: 0 0 5px 0;
}

.dayListContainer .day h4 {
  margin: 0 0 8px 0;
  font-weight: normal;
}

.dayListContainer .day.selected {
  background-color: #a2c3f3;
  border: solid 1px rgb(52, 121, 212);
}

/* The triangle on the bottom of the selected day */
.dayListContainer .day.selected:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px rgb(52, 121, 212);
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.dayBreakdownContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
}

.dayBreakdownContainer .hour {
  width: 40px;
  padding: 10px 2px;
  border-right: dotted 1px #ccc;
  text-align: center;
}

.dayBreakdownContainer .hour:nth-of-type(1) {
  border-left: dotted 1px #ccc;
}

.dayBreakdownContainer .hour h5 {
  margin: 0 0 5px 0;
}

.dayBreakdownContainer .hour h5 sup {
  vertical-align: baseline;
  position: relative;
  top: -1px;
  color: #525252;
}

.dayBreakdownContainer .hour span.badge {
  font-size: 11px;
}

.weather-icon {
  border: solid 1px #cccccc;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  background-color: #fff;
}

.weather-icon:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  opacity: 0.4;
}

.weather-icon img {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.hour .weather-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.hour .weather-icon img {
  width: 22px;
  height: 22px;
}

.error-message {
  color: #fff;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(231, 147, 147);
  border: solid 1px rgb(187, 6, 6);
  margin: 10px 0;
  cursor: default;
}

.loading-spinner {
  text-align: center;
  margin: 20px 0;
}

.hour-tooltip-contents {
  text-align: left;
}

.hour-tooltip-contents hr {
  color: #fff;
}

.hour-tooltip-contents table tr td:nth-of-type(2) {
  padding-left: 15px;
}
