body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 20px;
}

.App-header {
  background: url("../img/header/bg.jpg") no-repeat;
  background-size: 100%;
  height: 160px;
}

.App-title {
  background-color: #24a6e8;
  color: #fff;
  padding: 8px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dayListContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.dayListContainer .day {
  margin: 0 5px;
  cursor: pointer;
  padding: 15px 10px;
  border: dotted 1px #ccc;
  border-radius: 10%;
}

.dayListContainer .day h3 {
  margin-top: 0;
}

.dayListContainer .day.selected {
  background-color: #fafafa;
}

.weather-icon {
  border: solid 1px #cccccc;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  background-color: #fff;
}

.weather-icon:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  opacity: 0.4;
}

.weather-icon img {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.error-message {
  color: #fff;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(231, 147, 147);
  border: solid 1px rgb(187, 6, 6);
  margin: 10px 0;
  cursor: default;
}

.loading-spinner {
  text-align: center;
  margin: 20px 0;
}
